@model ICSServer.Models.Departament

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Departament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            
                <img src="~/Files/Images/@Model.Image"
                     class="rounded-circle"
                     height="60" width="60"
                     asp-append-version="true" />
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicDiscipline)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.BasicDiscipline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendedKnowledge)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.RecommendedKnowledge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadOfDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadOfDepartment.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialty.SpecialtyCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
