@model IEnumerable<ICSServer.Models.Departament>

@{
    ViewData["Title"] = "Index";
}
@{await Html.RenderPartialAsync("ICSmenu");}
<h1>Кафедры</h1>

<p>
    <a asp-action="Create">Добавить кафедру</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialtyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadOfDepartmentId)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th>
                <img src="~/Files/Images/@item.Image"
                     class="rounded-circle"
                     height="60" width="60"
                     asp-append-version="true" />
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty.SpecialtyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadOfDepartment.FullName)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>
