@model ICSServer.Models.News

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <img src="~/Files/Images/@Model.Image"
                 class="rounded-circle"
                 height="60" width="60"
                 asp-append-version="true" />
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)

        </dd>

        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Description)*@
            @Html.Raw(Model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfPublication)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfPublication)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.link)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.link)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publics.Students)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publics.Students)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publics.Graduates)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publics.Graduates)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publics.Applicants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publics.Applicants)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Назад к списку</a>
</div>
