@model IEnumerable<ICSServer.Models.News>

@{
    ViewData["Title"] = "Index";
}

<h1>Управление новостями</h1>

<p>
    <a asp-action="New">Создать новую</a>
</p>



<table class="table filter" id="table">
    <thead>
    <th>
        <label>Фильтр</label>
    </th>

    <th>
        <input type="text" name="SearchString" id="titleField">
    </th>

    <th>
    </th>
    <th>
    </th>
    <th>
        <input type="checkbox" id="filterApplicants" />
    </th>
    <th>
        <input type="checkbox" id="filterStudents" />

    </th>
    <th>
        <input type="checkbox" id="filterGraduates" />

    </th>
    <th>
        <input type="button" value="Очистить" class="btn btn-primary" id="filterClear" onclick="clearFilters()" />
    </th>

    <th></th>
    </thead>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publics.Applicants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publics.Students)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publics.Graduates)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody id="tbody">
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    <img src="~/Files/Images/@item.Image" class="rounded-circle" height="60" width="60" asp-append-version="true" />
                    <script>
                    console.log("real name");
                    console.log("~/Files/Images/@item.Image");
                    </script>
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfPublication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publics.Applicants)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publics.Students)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publics.Graduates)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Просмотр</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(".filter").bind("keyup change", function() {            

            getNews();        
        });



    </script>
    <script>
        function clearFilters() {

            $("#titleField").val("");
            $("#filterApplicants").prop("checked", false);
            $("#filterStudents").prop("checked", false);
            $("#filterGraduates").prop("checked", false);
            getNews();

        }
    </script>
<script>
    function getNews() {
        var titleFilter = $("#titleField").val();
            var filterApplicants = $("#filterApplicants").is(":checked");
            var filterStudents = $("#filterStudents").is(":checked");
            var filterGraduates = $("#filterGraduates").is(":checked");
        $.ajax({

          type: 'POST',
          url: '@Url.Action("filterNews","News")',
          dataType: "json",

          data: {

              titleFilter: titleFilter,
              filterApplicants: filterApplicants,
              filterStudents: filterStudents,
              filterGraduates:filterGraduates

          },

          success: function(response) {

            console.log(response);
            $("#table > tbody").empty();

              $(function () {
                  $.each(response, function (i, item) {

                      var $tr = $('<tr>').append(

                          $('<th>').html("<img src='/Files/Images/" + item.image + "' class='rounded-circle' height='60' width='60' asp-append-version='true'/>"),
                          $('<td>').text(item.title),
                          $('<td>').text(item.author),
                          $('<td>').text(item.dateOfPublication),
                          $('<td>').html("<input type='checkbox'  id='applicants-" + i + "' disabled >"),
                          $('<td>').html("<input type='checkbox'  id='students-" + i + "' disabled>"),
                          $('<td>').html("<input type='checkbox' id='graduates-" + i + "' disabled>"),
                          $('<td>').html("<a href='/News/Edit/" + item.id + "'>Редактировать</a> | <a href='/News/Details/" + item.id + "'>Просмотр</a> | <a href='/News/Delete/" + item.id + "'>Удалить</a>")


                      ).appendTo('#table');

                      if (item.publics.applicants) {
                          $("#applicants-" + i).prop("checked", true);
                      }
                      if (item.publics.students) {
                          $("#students-" + i).prop("checked", true);

                      }
                      if (item.publics.graduates) {
                          $("#graduates-" + i).prop("checked", true);

                      }


                  })

              })

          },

          error: function() {

            alert(' Search Error');

          }

      });
    }
</script>

}
